@charset "utf-8";


html {
  font-size: 100%;
  background: black;
}

body {
  background: black;
  border: 1px solid white;
  color: white;
  line-height: 1;
  box-sizing: border-box;
  text-align: center;
  padding: 32px;
}

h1.title {
  font-size: 3rem;
  border: 1px solid white;
  cursor: pointer;
}

.main {
  margin-top: 16px;
  border: 1px solid white;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.left-contents {
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid white;
}

.players {
  font-size: 2rem;
  border: 1px solid red;
  height: 100%;
}

.player {
  border: 1px solid yellow;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin: 8px;
}

.name {
  border: 1px solid gray;
  line-height: 1.5;
}

.points {
  border: 1px solid blue;
  justify-content: center;
  margin: auto; /*-----------------------------------------*/
  line-height: 1;

}

.number {
  line-height: 2;
  font-size: 3rem;
  border: 1px solid pink;
}

.pt {
  line-height: 3;
  border: 1px solid green;
  margin-left: 8px;

}

table {
  border: 1px solid white;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0;
}

td {
  width: 64px;
  height: 64px;
  border: 1px solid white;
  line-height: 4rem;
}

.all-course {
  border: 1px solid pink;
  margin: 8px;
}

.grand-prixes {
  border: 1px solid green;
}

.grand-prix {
  cursor: pointer;
}

.grand-prix.checked {
  background: darkblue;
}

.courses {
  justify-content: space-around;
  border: 1px solid red;
}

.course.active {
  cursor: pointer;
  background: darkgreen;
}

.course.active.checked {
  background: darkred;
}

.character.active {
  cursor: pointer;
  background: darkgoldenrod;
}

.character.active.checked {
  cursor: pointer;
  background: darkturquoise;
}

li {
  width:  96px;
  height: 96px;
  border: 1px solid white;
  line-height: 6rem;
}

@media (max-width: 960px) {
  .main {
    flex-direction: column-reverse;
  }

  .players {
    margin: 8px auto;
    width: 512px;
  }

  .courses {
    /* justify-content: center; */
    width: 384px;
    margin: 0 auto;
  }

}